<!-- <div class="custom-select" [class.disabled]="disabled">
    <div class="select-trigger" (click)="toggleDropdown()" [class.open]="isOpen">
        <span [class.placeholder]="!selectedValue">{{ selectedLabel }}</span>
        <svg class="arrow" [class.rotate]="isOpen" width="12" height="12" viewBox="0 0 12 12">
            <path fill="currentColor" d="M6 9L1 4h10z" />
        </svg>
    </div>

    <div class="select-dropdown" *ngIf="isOpen">
        <div *ngFor="let option of options" class="select-option" [class.selected]="option.value === selectedValue"
            (click)="selectOption(option)">
            {{ option.label }}
        </div>
    </div>
</div> -->